body{
	background-color:#FCF6D5;
	position: relative;
	margin-top:-50px;


}


.title{
	margin-top:-4em;
	
}

.header{
	border: 20px solid #FCF6D5;
    text-align: center;
    font-size:4em;
    width: 12em;
    margin-left: 120px;

}



h1{
	font-family: Redaction;
	font-style: normal;
	font-weight: 539;
	line-height: 160px;
	letter-spacing: 0em; 
	margin-top:70px;


}

h2{
	font-family: Redaction;
	font-size: 45px;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0em;
	text-align: center;
	margin-top:-80px;

}


.sidebar {
  padding: 25px;
  margin-left:1105px;
  margin-top: -560px;
  border-radius: 46px;
  background:#BEF891;
  transform: rotate(0deg);
  display: flex;
  position: absolute;
  z-index: 3;

}

button{
	height: 460px;
	width: 140px;
	border-radius: 46px;
	background:#BEF891;
	transform: rotate(0deg);
	border:none;
	font-size: 25px;
}

h3{
	transform: rotate(-90deg);
	font-family: Redaction;
	font-size: 60px;
	margin-top:180px;
	right:200px;
	margin-left: -95px;
	z-index: 0;

}

h3:hover{
	color:white;
	text-decoration: underline;
}

.openbar{
  padding: 25px;
  margin-left:1105px;
  margin-top: -560px;
  border-radius: 46px;
  transform: rotate(0deg);
  display: flex;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  float:right;

}

.openbar{
	  animation: 2s slide-left 10s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 10%;
    width: 100%;
  }
}
.openbar .slideover{
	width:1050px;
	height: 485px;
	background:#BEF891;
	border-radius: 46px;
	top: -100px;
	margin-top:-50px;

}

.openbar .overlay-content{
	margin-left:78px;

}
p{
	color:black;
	padding:15px;
	text-align: left;
	font:Redaction;
	font-size: 1.5em;
	margin-left:50px;
	line-height: 38px;
	margin-top:110px;

}

.slideover{
	height: 460px;
	width: 660px;
	align-items: center;
	overflow:hidden; 
}

.start{
	border-radius: 46px;
	background:#BEF891;
	height: 140px;
	width: 460px;
	border-color:#BEF891;
	margin-left:300px;
	margin-top:-30px;
}

a{
	font-family: Redaction;
	font-size: 60px;
	text-decoration:none;
	color: black;
}

a:hover{
	color:white;
	text-decoration: underline;
}


